<div class="bg">
  <div style="margin: 0px 0px 0px 400px; padding-top: 150px;">
    <mat-card style="width: 500px; text-align: center; background-color: #E0DEDE;">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>
    
          <div>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <div class="m-3">
            Not yet a member ? <a routerLink='/register'>Sign Up</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
