
<br>
<div class="container">
     
    <br>
<h2 class="col-md-11 text-center"> Tea Quality Add</h2>
<br><br>
  <flash-messages></flash-messages>
    <form (submit) = "AddTeaQuality()">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Add Tea Quality</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="BOPF" name="qualityadd" [(ngModel)]="qualityadd">
          </div>
        </div>  
    
        <div class="form-group row">
          <div class="col-sm-12  text-center">
            <button type="submit" class="btn btn-primary">ADD</button>
          </div>
        </div>
      </form>

      <br>
      <br>
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Quality Types</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of details;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{detail.quality}}</td>
           <!-- <td><button type="button"  class="btn btn-warning"   (click)="onUpdate(detail)">Update</button></td>-->
           <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModel" (click)="onUpdate(detail)">Update</button></td> 
           <td><button type="button" class="btn btn-danger" (click)="onDelete(detail._id)">Delete</button></td>
          </tr>

        </tbody>
      </table>

     
      <div class="modal fade" id="updateModel" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Update Tea Quality</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Tea Quality</label>
                  <input type="text" class="form-control"  value="{{modeldata}}" >
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" >Update</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    
</div>