

<br>
<h2 class="col-md-11 text-center"> Tea Quality</h2>
<br><br>
<div class="container">
  <flash-messages></flash-messages>
    <form (submit) = "AddTeaQuality()">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Add Tea Quality</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="BOPF" name="qualityadd" [(ngModel)]="qualityadd">
          </div>
        </div>  
    
        <div class="form-group row">
          <div class="col-sm-12  text-center">
            <button type="submit" class="btn btn-primary">ADD</button>
          </div>
        </div>
      </form>

      <br>
      <br>
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Quality Types</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of details;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{detail.quality}}</td>
            <td><button type="button" class="btn btn-warning" (click)="onUpdate(detail)">Update</button></td>
            <td><button type="button" class="btn btn-danger" (click)="onDelete(detail._id)">Delete</button></td>
          </tr>

        </tbody>
      </table>
      

</div>